<%= form_for @rsvp, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :surname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :surname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :firstname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :coming, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :coming, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vegetarian, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :vegetarian, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vegan, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :vegan, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bus, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :bus, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ferry, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :ferry, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rsvps_path, :class => 'btn' %>
  </div>
<% end %>
