<% content_for(:head) do %>
  <script type="text/javascript">
    //Give the date ---------------------------------
    year = 2013; month = 9; day = 7;
    //Give the point of time ------------------------
    hour= 16; min= 0; sec= 0;
    month= --month;
    dateFuture = new Date(year,month,day,hour,min,sec);
  </script>
<% end %>
<div class="row">
<div class="span5">
<h1>Sign In</h1>
<%= form_for(resource, :html => { :class => 'form-horizontal' }, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <%= f.label :remember_me, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :remember_me, :class => 'check_box' %> 
      </div>
    </div>
  <% end -%>
  <div class="form-actions">
    <%= f.submit "Sign in", :class => 'btn btn-primary' %>
  </div>
<% end %>
</div>
<div class="span7">
<div id="countbox"></div>
</div>
</div>
<!-- <%= render "devise/shared/links" %> -->
